/* Universal Selector */

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0;   
}

/* Element Selector */

body {
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-wrap: wrap;
    /* wraps all content for mobile devices using flex-wrap */
    /* sets the text value for the html body unless specified on an individual selector */
}

header {
    padding: 10px;
    background-color: #2a607c;
    color: #ffffff;
    /* Header color and text with spacing from main */
}

h1 {
    font-size: 50px;
}

ul {
    padding: 20px;
}

li {
    display: inline;
    margin-left: 25px;
    /* displays links horizontially with 25px spacing */
}

a {
    color: #ffffff;
    text-decoration: none;
    /* removes the underline or 'decoration' of the header links */
}

section {
    display: inline-block;
    width: 75%;
    margin-left: 20px;
    /* displays section content vertically with 20px spacing from screen edge */
}

h2 {
    font-size: 36px;
}

h2, h3 {
    margin-bottom: 25px;
}

h3, header, footer {
    text-align: center;
    /* centers company name, links, h3 text, side bar, and copyright with text-align */
}

header, footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* separate font independent of body text */
}

footer {
    padding: 30px;
    
}

/* Class Selector */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    /* adjusts main (hero) image to fit within the body content */
}

.search-engine-optimization, .online-reputation-management, 
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
    /* content display properties for articles in first section */
}

.search-engine-optimization img, .online-reputation-management img, 
.social-media-marketing img {
    max-height: 200px;
    /* sets max image height for articles in first section */
}

.float-left {
    float: left;
    margin-right: 25px;
    /* diplays image to right of text in article block */
}

.float-right {
    float: right;
    margin-left: 25px;
    /* diplays image to left of text in article block */
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
    /* content display properties for 2nd section to fit next to first section */
}

.benefit-1, .benefit-2, .benefit-3 {
    margin-bottom: 30px;
    color: #ffffff;
    /* text color and spacing in benefits section */  
}

.benefit-1 img, .benefit-2 img, .benefit-3 img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
    /* sets max image width w/ spacing and vertical display in 2nd section */
}